# Data Task Force

## Initialization and Setup

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics

In [2]:
df = pd.read_csv('movies.csv')

pd.set_option('display.max_columns', None) # show all columns 
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [3]:
# see the headers/column names 
df.columns

Index(['name', 'rating', 'genre', 'year', 'released', 'score', 'votes',
       'director', 'writer', 'star', 'country', 'budget', 'gross', 'company',
       'runtime'],
      dtype='object')

In [4]:
# see the column's info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7591 non-null   object
 2   genre     7668 non-null   object
 3   year      7668 non-null   int64
 4   released  7666 non-null   object
 5   score     7665 non-null   float64
 6   votes     7665 non-null   float64
 7   director  7668 non-null   object
 8   writer    7665 non-null   object
 9   star      7667 non-null   object
 10  country   7665 non-null   object
 11  budget    5497 non-null   float64
 12  gross     7479 non-null   float64
 13  company   7651 non-null   object
 14  runtime   7664 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 898.7+ KB

## Aggregate Features 

##### In this section we will add several columns to our dataset. These new columns will be calculated/generated based of the existing columns because we believe we can use the information better

### Season Released Column

In [5]:
""" create a released seasons column. This column maps the released column, which is a date, to a new column 
    corresponding to the season the movie was released 
"""

# Function to map month to season
def map_month_to_season(month):
    month_to_season = {
        'January': 'winter',
        'February': 'winter',
        'March': 'spring',
        'April': 'spring',
        'May': 'spring',
        'June': 'summer',
        'July': 'summer',
        'August': 'summer',
        'September': 'autumn',
        'October': 'autumn',
        'November': 'autumn',
        'December': 'winter'
    }
    return month_to_season.get(month, 'unknown')

# Extract the month from the "released" column
df['month_released'] = df['released'].str.split(' ').str[0]

# Create the "season_released" column, map the month to a season
df['season_released'] = df['month_released'].apply(map_month_to_season)

# Drop the temporary "month_released" column
df = df.drop(columns=['month_released'])

# Display the DataFrame
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,season_released
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,summer
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,summer
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,summer
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,summer
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,summer

### Profit ( Gross Income - Budget ) Column

In [6]:
df['profit'] = (df['gross'] - df['budget'])


df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,season_released,profit
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,summer,27998772.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,summer,54353106.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,summer,520375067.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,summer,79953539.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,summer,33846344.0

### Covid flag Column ( If a movie was released during covid )

In [7]:
start_year = 2020
end_year = 2024

df['covid_year'] = df['year'].apply(lambda x: start_year <= x <= end_year if pd.notnull(x) else False)

# Convert the boolean values to a more readable format
df['covid_year'] = df['covid_year'].map({True: 'Yes', False: 'No'})
df['covid_year'] = df['covid_year'].fillna(False)

NameError: name 'start_year' is not defined

## Data Quality Report

This gives detailed informataion about our features and splits them into categorical and continuous features

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

continuous_features = df.select_dtypes(include=['Int64','float'])
categorical_features = df.select_dtypes(include='object')

def identify_missing_values(data):
    if data.dtypes.any() in ['int64', 'float64']:
        missing_values_count = data.isnull().sum()
    
    else:
        missing_values_count = data.isnull().sum() + (data == ' ').sum() + (data == 'NaN').sum()
    return missing_values_count


def continuous_data_report(data, description_data):
    missing_values_count = identify_missing_values(data)

    report = pd.DataFrame({
        'Feature': data.columns,
        'Count': data.count(),
        '% of Missing': missing_values_count / len(data) * 100, 
        'Count of ?': missing_values_count,
        'Card.': data.nunique(),
        'Min.': data.min(),
        'Q1': data.quantile(0.25),
        'Median': data.median(),
        'Q3': data.quantile(0.75),
        'Max.': data.max(),
        'Mean': data.mean().round(2),
        'Std. Dev.': data.std(),
    })
    report['% of Missing'] = report['% of Missing'].astype(str).astype(float).round(2).astype(str)
    report['Max.'] = report['Max.'].astype(str).astype(float).round(2).astype(str)
    report['Std. Dev.'] = report['Std. Dev.'].astype(str).astype(float).round(2).astype(str)
    
    return report


def categorical_data_report(data, description_data):
    missing_values_count = identify_missing_values(data)

    data_str = data.applymap(str)

    mode = data_str.mode().iloc[0]
    mode_freq = data_str[data_str == mode].count()
    mode_perc = (mode_freq / len(data_str)) * 100

    value_counts = data_str.value_counts()
    
    

    if len(value_counts) > 1:
        mode = value_counts.index[0]
        mode_freq = value_counts.iloc[0]
        mode_perc = (mode_freq / len(data_str)) * 100

        data_without_mode = data_str[data_str != mode]
        
        second_mode = data_without_mode.mode().iloc[0]
        second_mode_freq = data_without_mode[data_without_mode == second_mode].count()
        second_mode_perc = (second_mode_freq / len(data_without_mode)) * 100
        
    else:
        mode = None
        mode_freq = None
        mode_perc = None
        second_mode = None
        second_mode_freq = None
        second_mode_perc = None

    report = pd.DataFrame({
        'Feature': data.columns,
        'Count': len(data_str),
        '% of Missing': missing_values_count / len(data_str) * 100, 
        'Count of ?': missing_values_count,     
        'Card.': data_str.nunique(),
        'Mode': mode,
        'Mode Freq.': mode_freq,
        'Mode %': mode_perc,
        '2nd Mode': second_mode,
        '2nd Mode Freq.': second_mode_freq,
        '2nd Mode Perc': second_mode_perc,
    })
    report['2nd Mode Perc'] = report['2nd Mode Perc'].astype(str).astype(float).round(5).astype(str)
    report['% of Missing'] = report['% of Missing'].astype(str).astype(float).round(2).astype(str)
    return report

missing_continuous_values = identify_missing_values(continuous_features)
missing_categorical_values = identify_missing_values(categorical_features)

continuous_report = continuous_data_report(continuous_features, df)
categorical_report = categorical_data_report(categorical_features, df)

print("Continuous Features Data Quality Report:")
continuous_report.sort_values(by='% of Missing', ascending=False)

In [ ]:
print("\nCategorical Features Data Quality Report:")
categorical_report.sort_values(by='% of Missing', ascending=False)

In [ ]:
pd.reset_option('all')

## Charts ( Histograms and Barcharts )

In [ ]:
col_list = continuous_report['Feature']

num_plots = len(col_list)
num_rows = 3
num_cols = 4

fig, ax = plt.subplots(num_rows, num_cols, figsize=(18, 18))

for i in range(min(num_plots, num_rows * num_cols)):
    row_idx = i // num_cols
    col_idx = i % num_cols
    feature = col_list[i]
    
    
    ax[row_idx, col_idx].hist(continuous_features[feature], bins=10, alpha=0.7, color='yellow', edgecolor='black')  
    
    ax[row_idx, col_idx].set_title(feature)

for i in range(num_plots, num_rows * num_cols):
    row_idx = i // num_cols
    col_idx = i % num_cols
    ax[row_idx, col_idx].axis('off')

plt.tight_layout()
plt.show()

In [ ]:
for feature in categorical_features.columns:
    plt.figure(figsize=(10, 6))
    ax = sns.countplot(x=feature, data=categorical_features)
    ax.tick_params(axis='x', labelrotation=90)
    plt.title(f'Count of {feature}')
    plt.xlabel(feature)
    plt.ylabel('Count')
    plt.show()

## Missing Values and Outliers

##### For each continuous feature, identify the outliers using the IQR method

In [ ]:
# your code goes here
# Calculate Q1, Q3, and IQR
Q1 = continuous_features.quantile(0.25)
Q3 = continuous_features.quantile(0.75)
IQR = Q3 - Q1

# Calculate the lower and upper bounds for outliers
lower_bound = Q1 -  1.5 * IQR
upper_bound = Q3 +  1.5 * IQR

# Identify outliers
outliers = continuous_features[(continuous_features < lower_bound) | (continuous_features > upper_bound)]

# Report the number of outliers
print("Number of outliers:")
print(outliers.count())

df._get_numeric_data()

##### Replace the outlier values with upper bounds and lower bounds

In [ ]:
# Initialize a dictionary to store the number of updated cells for each column
updated_cells = {col:  0 for col in continuous_features.columns}

for column in continuous_features.columns:
    # Calculate Q1, Q3, and IQR
    Q1 = continuous_features[column].quantile(0.25)
    Q3 = continuous_features[column].quantile(0.75)
    IQR = Q3 - Q1
    
    # Calculate the lower and upper bounds for outliers
    lower_bound = Q1 -  1.5 * IQR
    upper_bound = Q3 +  1.5 * IQR
    
    # Identify outliers
    outliers = continuous_features[column][(continuous_features[column] < lower_bound) | (continuous_features[column] > upper_bound)]
    
    # Count the number of outliers
    updated_cells[column] = len(outliers)

    # Apply the clamping method to replace outliers
    continuous_features[column] = continuous_features[column].clip(lower=lower_bound, upper=upper_bound)
    df[column] = df[column].clip(lower=lower_bound, upper=upper_bound)

# Report the number of updated cells for each column
for column, count in updated_cells.items():
    print(f"Number of updated cells in {column}: {count}")

# Display the updated DataFrame
df._get_numeric_data()()

##### For each continuous feature, identify the <b> missing values </b> & replace them with the mean

In [ ]:
print(continuous_report['% of Missing'])
print() 

# As seen from the printed result from the above, there is no column with more than 50% missing values so we can input the mean
for column in continuous_features.columns:
    df[column].fillna(df[column].mean(), inplace=True)

df.head(20)

##### For each categorical feature, identify the <b> missing values </b> & replace them with the mode of the category

In [ ]:
print(categorical_report['% of Missing'])
print() 

# As seen from the printed result from the above, there is no column with more than 50% missing values so we can input the mean
for column in categorical_features.columns:
    df[column].fillna(df[column].mode()[0], inplace=True)

df.head(20)

## Normalization

##### normalize the data using minmax normalization

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
for column in continuous_features.columns: 
    scaler = MinMaxScaler()

    scaler.fit(df[[column]])

    df[column] = scaler.transform(df[[column]])

df.head()

# notice all continuous values are between 0 and 1